.background {
    background: url("../../../public/result.svg") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.contentContainer {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 2rem;
    height: calc(100vh - 5rem);

    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
        font-size: 4rem;
        font-weight: 900;
        color: #E7139F;
        margin-bottom: 2rem;
    }

    .box {
        width: 600px;
    }

    button {
        margin-top: 4rem;
        background: #E7139F;
        padding: 1rem 3rem;
        border-radius: 10rem;
        width: 400px;
        border: 0;
        display: flex;
        justify-content: center;

        span {
            color: #FFF32E;
            margin-top: 0.2rem;
        }

        .logo {
            width: 25px;
            height: 25px;
            margin-right: 1rem;
        }
    }
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    p {
        font-size: 4rem;
        font-weight: 900;
        color: #E7139F;
        margin-bottom: 2rem;
    }
}